* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --text-primary: #000000;
  --text-secondary: #EDE6DB;
  --bg-dark: #1A3C40;
  --bg-mid: #1D5C63;
  --bg-light: #417D7A;
  --bg-lighter: #EDE6DB;
  --font-heading: 'Press Start 2P', cursive;
  --font-body: 'Gruppo', cursive;
}

.heading {
  font-family: var(--font-heading);
  color: var(--text-secondary);
}

.body {
  font-family: var(--font-body);
  color: var(--text-primary);
}

body {
  margin: 0 7rem;
  background-color: var(--bg-dark);
  text-transform: uppercase;
}

body .navbar {
  display: block;
  margin: 3rem 0rem;
  font-size: 1.7rem;
  padding: 1rem 0rem;
}

body .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .navbar ul li {
  list-style: none;
}

body .navbar ul li a {
  font-family: var(--font-heading);
  color: var(--text-secondary);
  text-decoration: none;
}

body .aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

body .aboutSection .abouHeading .hiphoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .aboutSection .abouHeading .welcome {
  font-family: var(--font-heading);
  color: var(--text-secondary);
  padding: 3rem;
  border: 7px dashed var(--bg-mid);
  border-radius: 1rem;
  background-color: var(--bg-light);
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .aboutSection .abouHeading .welcome h1 {
  padding: 2.5rem 0rem;
}

body .aboutSection .aboutme {
  font-family: var(--font-body);
  color: var(--text-primary);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 3rem;
  border: 7px solid var(--bg-mid);
  background-color: var(--bg-light);
  color: #000;
}

body .aboutSection .aboutme h1 {
  font-family: var(--font-heading);
  color: var(--text-secondary);
  text-align: center;
}

body .aboutSection .aboutme h5 {
  text-align: center;
  color: var(--bg-lighter);
  font-weight: 800;
  letter-spacing: 0.08rem;
}

body .aboutSection .aboutme p {
  font-weight: 800;
  letter-spacing: 0.05rem;
  font-size: 1.3rem;
  line-height: 2.3rem;
  margin-top: 2rem;
}

body .aboutSection .aboutme .aboutBtn {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .aboutSection .aboutme .aboutBtn .btn {
  color: var(--bg-lighter);
  font-size: 1.5rem;
  background-color: var(--bg-mid);
  border-radius: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */